.map_container {
	height: 450px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #18aee7;
	background-image: url('../images/map.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}
.map_container .map_overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #18aee761;
	z-index: 99;
}
.map_container iframe {
	width: 100%;
	/*height: 100%;*/
}
.plain_background {
	background-color: transparent;
	min-height: 500px;
	margin-top: -200px;
	position: relative;
	z-index: 101;
	margin-bottom: 50px;
}
@media (max-width: 768px){
    .plain_background {
        margin-top: 0px;
        margin-bottom: 520px;
    }
}
.plain_background .contact_container {
	min-height: 500px;
	position: absolute;
	background-color: #fff;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 5px 10px #c6c9cc;
}
.plain_background .contact_container .contact_us_form label {
	font-family: 'karla', sans-serif;
}
.plain_background .contact_container .contact_us_form .contact_form {
	margin: 0;
	margin-bottom: 30px;
}
.styled_form {
	border-radius: 0px;
	border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    box-shadow: none;
    font-family: karla;
}
.styled_form:hover, .styled_form:focus {
	border-radius: 0px;
	border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    box-shadow: none;
}
.form_grouping {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
}
.blustair_btn {
    border-radius: 3px;
    color: #fff;
    background-color: #18aee7;
    padding: 10px 30px;
    font-size: 15px;
    font-family: karla;
}
.blustair_btn:hover {
	color: #18aee7;
	background-color: transparent;
	border-color: #18aee7;
}
.blustair_btn:active, .blustair_btn:focus, .blustair_btn:visited {
    border-radius: 3px;
    color: #fff;
    background-color: #18aee7;
    padding: 10px 30px;
    font-size: 15px;
    font-family: karla;
    border-color: #18aee7;
}



.contact_info_container {
	background-color: #0d4080;
	color: #fff;
	height: 500px;
}
@media (max-width: 768px){
    .contact_info_container h2 {
        padding-left: 15px;
    }
}
.contact_info {
margin-bottom: 30px;	
}
.icon {
	font-size: 30px;
	text-align: center;
}
.icon_text{
	margin-top: 10px;
}
.icon_link {
	font-size: 30px;
}
.icon_link a {
    color: #fff;
    padding-right: 10px;
}
.icon_link a:hover {
    color: #fff;
    opacity: .7;
    text-decoration: none;
}